.iPhone{
    text-align: center;
}
.Samsung{
    text-align: center;
}
.Nokia{
    text-align: center;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: bisque;
}